
/* GENERAL */
/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    color: #022B3A;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/*  */
/* SECTION HEADING */
/*  */

/* .heading{
  height: 90vh;
  padding: 100px;
  justify-content: space-around;
  align-items: center;
  background: rgb(20,184,166);
  background: linear-gradient(341deg, rgba(20,184,166,0.5) 0%, rgba(255,255,255,1) 60%);


}

.text-heading{
    flex: 2;
    margin-right: 5%;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
}



.text-heading h1{
    font-size: 4em;
    font-weight: 700;
    text-align: justify;
}

.text-heading strong{
    color: #14B8A6;
}

.text-heading p{
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.3em;
}

.text-heading a{
    color: #F1A208;
}

.heading img{
   border-radius: 20px;
   flex: 1;
   max-width: 70%;
   max-height: 70%;
   box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.418) ;
  } */


/*  */
/* SECTION DESTINATIONS */
/*  */

/* .destinations{
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    height: 100vh;
    
}

.destinations h2{
    font-size: 2.5em;
}

.card-destinations{
    justify-content: space-around;
}
.card {
    flex-direction: column;
    max-width: 300px;
    height: 400px;
    margin: 2em;
    background: #f0fdfa54;
    border-radius: 2em;
    box-shadow: 8px 5px 20px rgba(0, 0, 0, 0.418) ;
}

.card:hover {
    height: 600px;
    transition: 0.3s ease;
}

.card img{
    max-width: 300px;
    border-radius: 2em 2em 0 0;
}

.card-title{
    text-align: center;
    margin-top: 2em;
    font-size: 1.2em;
}

.card-description {
    padding: 1em;
    text-align: justify;
    font-size: 0.8em;
    font-weight: lighter;
} */



/*  */
/* MOBILE FIRST SECTION */
/*  */


/* Header */

header {
    background: #022B3A;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F0FDFA;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
}

header .logo img{
    display: none;
}

header .logo p{
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: .5rem;
}

/* Menu Hamburger */


label.hamburger /*Bouton Hamburger */
    {
        font-size: 2rem;
        cursor: pointer;
    }

.menu 
    {
        display: none;
        justify-content: space-around;
        background: #022B3A;
        width: 100vw;
        height: 6rem;
        position: fixed;
        right: 0;
        top: 10vh;
        padding-left: 1em;
        padding-right: 1em;
    }

.menu_menu-categories{
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: space-around;
        text-transform: uppercase;
    }

.menu_menu-categories a{
        font-size: 0.8em;
        color: rgba(240, 252, 249, 0.7);
    }


.menu_menu-connexion{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

.menu_menu-connexion>a{
        padding: 1em;
        border: #F0FDFA 1px solid;
        border-radius: 1em;
    }

#user-icon { /*Icone cosmonaute */
        display: none;
        }

#toggle:checked + .menu { /*Apparition du menu au clic du toggle */
        display: flex;
    }

#toggle {
        display: none;
    }

/* Heaading */

.heading{
    display: flex;
    flex-direction: column;
    
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
    height: 100vh;
    text-align: left;
    justify-content: space-around;
    background: rgb(20,184,166);
    background: linear-gradient(340deg, rgba(20,184,166,0.5) 0%, rgba(255,255,255,1) 60%);
}

.heading_text-heading{
    display: flex;
    flex-direction: column;
}

.heading_text-heading h1{
    font-size: 2em;
    padding-bottom: .3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.heading_text-heading p{
    text-align: justify;
    line-height: 1.5em;
}

.heading_text-heading strong{
    color: #14B8A6;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.heading>img{
    border-radius: 1em;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES - TABLETTE */


/* MEDIA QUERIES - TABLETTE XL / LAPTOP */


/* MEDIA QUERIES - PC */

@media screen and (min-width: 920px) {


    /* Header */
    
    header{
      height: 6rem;
    }

    .logo{
        display: flex;
        flex: 1;
        align-items: center;
    }
    
    header .logo img{
        display: block;
        height: 2em;
        margin-right: 1em;
    }
    
    .logo p{
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 8px;
    }
    

    /* Menu */
 
    label.hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: flex;
        align-items: center;
        width: 70vw;
        top: 0;
    }
    
    
    .menu_menu-categories{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu_menu-categories a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(240, 252, 249, 0.5);
        height: 3em;
        width: 25%;
        font-size: 1em;
    }

    .menu_menu-categories a:hover{
        color: rgb(240, 252, 249);
        transition: all 0.2s ease-in;
    }
    
    
    /*  */
    /* CONNEXION */
    /*  */
    
    .menu_menu-connexion a{
        display: flex;
        justify-content: center;
        align-items: center;

    } 
    
    /* Icone Cosmonaute caché */
     #user-icon{
        display: none;
        height: 1.5em;
        margin-left: .5em;
    }
    
    .menu_menu-connexion a:hover{
        color: #022B3A;
        background: #F0FDFA;
        width: 9em;
        transition: .4s ease-out;
    } 

    /* Icone cosmonaute affiché lors du :hover */
    .menu_menu-connexion a:hover>#user-icon{
        display: inline-block;
        transition: .4s ease-out;
    } 
    


    /* Heading */

    .heading{
       flex-direction: row; 
    }
    
}