
/* GENERAL */
/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    color: #022B3A;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}




/*  */
/* MOBILE FIRST SECTION */
/*  */


/* ----------------------------------------- Header-----------------------------------------  */

header {
    background: #022B3A;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F0FDFA;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    z-index: 1;
}

header .logo img{
    display: none;
}

header .logo p{
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: .5rem;
}

/* Menu Hamburger */


label.hamburger /*Bouton Hamburger */
    {
        font-size: 2rem;
        cursor: pointer;
    }

.menu 
    {
        display: none;
        justify-content: space-around;
        background: #022B3A;
        width: 100vw;
        height: 6rem;
        position: fixed;
        right: 0;
        top: 10vh;
        padding-left: 1em;
        padding-right: 1em;
    }

.menu_menu-categories{
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: space-around;
        text-transform: uppercase;
    }

.menu_menu-categories a{
        font-size: 0.8em;
        color: rgba(240, 252, 249, 0.7);
    }


.menu_menu-connexion{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

.menu_menu-connexion>a{
        padding: 1em;
        border: #F0FDFA 1px solid;
        border-radius: 1em;
    }

#user-icon { /*Icone cosmonaute */
        display: none;
        }

#toggle:checked + .menu { /*Apparition du menu au clic du toggle */
        display: flex;
    }

#toggle {
        display: none;
    }

/* ----------------------------------------- Heading-----------------------------------------  */

.heading{
    display: flex;
    flex-direction: column;
    padding-top: 6em;
    height: 95vh;
    width: 100vw;
    background: rgb(20,184,166);
    background: linear-gradient(340deg, rgba(20,184,166,0.5) 0%, rgba(255,255,255,1) 60%);
}

.heading_text-heading{
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.heading_text-heading h1{
    font-size: 2em;
    padding-bottom: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.heading_text-heading p{
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.heading_text-heading strong{
    color: #14B8A6;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.heading_img {
    overflow: hidden; /* Cache le morceau de li'mage qui dépasse du conteneur */
    width: 100vw;
}

.heading_img img{
    max-height: 30em;
    bottom: -1em;
    transform: rotate(10deg);
}


/* ----------------------------------------- Destinations----------------------------------------- */
.destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.destinations h2{
   margin: 1em 0;
   text-align: center;
   font-size: 1.5em;
}

.card-destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 2em;
}

.card>img {
    border-radius: 1em 1em 0 0;
}

.card-title, .card-description {
    padding: 1em;
}

.card-title{
    background: black;
    color: #F0FDFA;
    font-size: 1.1em;
}

.card-description{
    text-align: justify;
    background:#e6f5f2;
    font-size: 0.9em;
    border-radius: 0 0 1em 1em;
}

.card {
    width: 80vw;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* MEDIA QUERIES - TABLETTE */
@media screen and (min-width: 575px) {

    .heading_text-heading h1{
        font-size: 3em;
    }

    .heading_text-heading p{
        font-size: 1.1em;
    }

    .heading .heading_img img{
        max-height: 40em;
        position: relative;
        bottom: 5em;
    }

    .card-destinations {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .card {
        width: 40vw;
    }

}

/* MEDIA QUERIES - TABLETTE XL / LAPTOP */

@media screen and (min-width: 768px) {
    
    .heading{
        height: 100vh;
    }

    .heading_text-heading h1{
        font-size: 3.5em;
    }

    .heading_text-heading p{
        font-size: 1.5em;
    }

    .heading .heading_img img{
        max-height: 40em;
        position: relative;
        bottom: 8em;
        right: -10em;
    }
}

/* MEDIA QUERIES - PC */

@media screen and (min-width: 920px) {


    /*----------------------------------------- Header -----------------------------------------*/
    
    header{
      height: 6rem;
    }

    .logo{
        display: flex;
        flex: 1;
        align-items: center;
    }
    
    header .logo img{
        display: block;
        height: 2em;
        margin-right: 1em;
    }
    
    .logo p{
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 8px;
    }
    

    /*----------------------------------------- Menu -----------------------------------------*/
 
    label.hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: flex;
        align-items: center;
        width: 70vw;
        top: 0;
    }
    
    
    .menu_menu-categories{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu_menu-categories a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(240, 252, 249, 0.5);
        height: 3em;
        width: 25%;
        font-size: 1em;
    }

    .menu_menu-categories a:hover{
        color: rgb(240, 252, 249);
        transition: all 0.2s ease-in;
    }
    
    
    /*  */
    /*----------------------------------------- CONNEXION -----------------------------------------*/
    /*  */
    
    .menu_menu-connexion a{
        display: flex;
        justify-content: center;
        align-items: center;

    } 
    
    /* Icone Cosmonaute caché */
     #user-icon{
        display: none;
        height: 1.5em;
        margin-left: .5em;
    }
    
    .menu_menu-connexion a:hover{
        color: #022B3A;
        background: #F0FDFA;
        width: 9em;
        transition: .4s ease-out;
    } 

    /* Icone cosmonaute affiché lors du :hover */
    .menu_menu-connexion a:hover>#user-icon{
        display: inline-block;
        transition: .4s ease-out;
    } 
    
    /*----------------------------------------- Heading -----------------------------------------*/

    .heading{
       flex-direction: row;
       align-items:center;
       height: 100vh; 
       padding-top: 10em
    }

    .heading_text-heading{
        flex: 1;
        font-size: 1.1em;
    }

    .heading_img{
        flex: 1;
        height: 50vh;
    }

    .heading_img img{
        max-width: 100vw;
        margin-left: -10em;
    }

   /*----------------------------------------- Destinations -----------------------------------------*/


   .card-destinations {
    justify-content: space-around;
    width: 95vw;
 
}
   
   .card {
        width: 20vw;
    }

}